---
machine:
  install:
    diskSelector:
      serial: S436NC0R700280
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: brouhaha
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "i40e" && mac(link.permanent_addr) == "58:47:ca:77:57:23"
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.serial == "S436NC0R700286"
  maxSize: 0
