---
machine:
  install:
    diskSelector:
      serial: S436NC0R700270
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kerfuffle
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "mlx5_core" && mac(link.permanent_addr) == "0c:42:a1:ac:b0:2a"
