---
machine:
  install:
    diskSelector:
      serial: S436NC0R700270
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kerfuffle
---
# TODO: update driver (mlx4_en) and mac address when new hardware arrives
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "i40e" && mac(link.permanent_addr) == "58:47:ca:77:5a:bb"
