---
machine:
  type: controlplane
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
provisioning:
  diskSelector:
    match: disk.serial == "S436NC0R700270"
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: kerfuffle
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 150GiB
---
apiVersion: v1alpha1
kind: RawVolumeConfig
name: miroir
provisioning:
  diskSelector:
    match: system_disk
  grow: true
  minSize: 1GiB
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "ixgbe" && mac(link.permanent_addr) == "9c:6b:00:d2:9f:c9"
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net1
selector:
    match: link.driver == "ixgbe" && mac(link.permanent_addr) == "9c:6b:00:d2:a1:d5"
---
# Pinned so the bond does not inherit whichever slave comes up first, which
# would change the MAC UniFi keys the DHCP reservation on.
apiVersion: v1alpha1
kind: BondConfig
name: bond0
hardwareAddr: 9c:6b:00:d2:9f:c9
